.csharp .hll { background-color: #ffffcc }
.csharp  { background: #f0f0f0; }
.csharp .c { color: #60a0b0; font-style: italic } /* Comment */
.csharp .err { border: 1px solid #FF0000 } /* Error */
.csharp .k { color: #007020; font-weight: bold } /* Keyword */
.csharp .o { color: #666666 } /* Operator */
.csharp .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.csharp .cp { color: #007020 } /* Comment.Preproc */
.csharp .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.csharp .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.csharp .gd { color: #A00000 } /* Generic.Deleted */
.csharp .ge { font-style: italic } /* Generic.Emph */
.csharp .gr { color: #FF0000 } /* Generic.Error */
.csharp .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.csharp .gi { color: #00A000 } /* Generic.Inserted */
.csharp .go { color: #808080 } /* Generic.Output */
.csharp .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.csharp .gs { font-weight: bold } /* Generic.Strong */
.csharp .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.csharp .gt { color: #0040D0 } /* Generic.Traceback */
.csharp .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.csharp .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.csharp .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.csharp .kp { color: #007020 } /* Keyword.Pseudo */
.csharp .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.csharp .kt { color: #902000 } /* Keyword.Type */
.csharp .m { color: #40a070 } /* Literal.Number */
.csharp .s { color: #4070a0 } /* Literal.String */
.csharp .na { color: #4070a0 } /* Name.Attribute */
.csharp .nb { color: #007020 } /* Name.Builtin */
.csharp .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.csharp .no { color: #60add5 } /* Name.Constant */
.csharp .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.csharp .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.csharp .ne { color: #007020 } /* Name.Exception */
.csharp .nf { color: #06287e } /* Name.Function */
.csharp .nl { color: #002070; font-weight: bold } /* Name.Label */
.csharp .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.csharp .nt { color: #062873; font-weight: bold } /* Name.Tag */
.csharp .nv { color: #bb60d5 } /* Name.Variable */
.csharp .ow { color: #007020; font-weight: bold } /* Operator.Word */
.csharp .w { color: #bbbbbb } /* Text.Whitespace */
.csharp .mf { color: #40a070 } /* Literal.Number.Float */
.csharp .mh { color: #40a070 } /* Literal.Number.Hex */
.csharp .mi { color: #40a070 } /* Literal.Number.Integer */
.csharp .mo { color: #40a070 } /* Literal.Number.Oct */
.csharp .sb { color: #4070a0 } /* Literal.String.Backtick */
.csharp .sc { color: #4070a0 } /* Literal.String.Char */
.csharp .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.csharp .s2 { color: #4070a0 } /* Literal.String.Double */
.csharp .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.csharp .sh { color: #4070a0 } /* Literal.String.Heredoc */
.csharp .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.csharp .sx { color: #c65d09 } /* Literal.String.Other */
.csharp .sr { color: #235388 } /* Literal.String.Regex */
.csharp .s1 { color: #4070a0 } /* Literal.String.Single */
.csharp .ss { color: #517918 } /* Literal.String.Symbol */
.csharp .bp { color: #007020 } /* Name.Builtin.Pseudo */
.csharp .vc { color: #bb60d5 } /* Name.Variable.Class */
.csharp .vg { color: #bb60d5 } /* Name.Variable.Global */
.csharp .vi { color: #bb60d5 } /* Name.Variable.Instance */
.csharp .il { color: #40a070 } /* Literal.Number.Integer.Long */