---
layout: default
page_name: Blog
---
<div id="post-9079" class="post-9079 post type-post status-publish format-standard hentry category-fineart category-sculpture tag-art tag-sculpture tag-wire p1 y2011 m10 d11 h11">
	<div class="entry-head">
		<h3 class="entry-title">
			<a href="http://tomstaijen.github.com/2011/10/12/first-post/" rel="bookmark" title="Permanent Link to Gavin Worth">First Post</a>
		</h3>
		<div class="entry-meta">
			Published on <abbr class="published entry-date" title="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</abbr>, Tags: <span class="entry-categories"><a href="/tag/csharp/" title="Some category">C#</a>, <a href="http://tag/nhibernate/" title="View all posts in Sculpture">NHibernate</a></span> 			
		</div> <!-- .entry-meta -->
	</div><!-- .entry-head -->
	<div class="entry-content">
		{{ content }}
	</div><!-- .entry-content -->
	<div class="entry-foot">This is the footer.
		<div class="entry-meta"></div><!-- .entry-meta -->
	</div><!-- .entry-foot -->
</div><!-- #post-ID -->
